BD_Proxy.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap-env="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost/receta_soap_wdsl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost/receta_soap_wdsl">
    <wsdl:types>
        <xsd:schema targetNamespace="http://localhost/receta_soap_wdsl">
            <xsd:complexType name="stringArray">
                <xsd:complexContent>
                    <xsd:restriction base="soap-enc:Array">
                        <xsd:attribute ref="soap-enc:arrayType" wsdl:arrayType="xsd:string[]"/>
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="Recetas">
                <xsd:all/>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="obtieneNombreRecetaRequest">
        <wsdl:part name="codigo" type="xsd:int"/>
    </wsdl:message>
    <wsdl:message name="obtieneNombreRecetaResponse">
        <wsdl:part name="obtieneNombreRecetaReturn" type="xsd:string"/>
    </wsdl:message>
    <wsdl:message name="obtener_preparacion_recetaRequest">
        <wsdl:part name="cod_rec" type="xsd:int"/>
    </wsdl:message>
    <wsdl:message name="obtener_preparacion_recetaResponse">
        <wsdl:part name="obtener_preparacion_recetaReturn" type="xsd:string"/>
    </wsdl:message>
    <wsdl:message name="obtener_presentacion_recetaRequest">
        <wsdl:part name="cod_rec" type="xsd:int"/>
    </wsdl:message>
    <wsdl:message name="obtener_presentacion_recetaResponse">
        <wsdl:part name="obtener_presentacion_recetaReturn" type="xsd:string"/>
    </wsdl:message>
    <wsdl:message name="obtener_array_ingredientes_recetaRequest">
        <wsdl:part name="cod_rec" type="xsd:int"/>
    </wsdl:message>
    <wsdl:message name="obtener_array_ingredientes_recetaResponse">
        <wsdl:part name="obtener_array_ingredientes_recetaReturn" type="tns:stringArray"/>
    </wsdl:message>
    <wsdl:message name="obtener_recetasRequest"/>
    <wsdl:message name="obtener_recetasResponse">
        <wsdl:part name="obtener_recetasReturn" type="tns:RecetasArray"/>
    </wsdl:message>
    <wsdl:portType name="BD_proxyPortType">
        <wsdl:operation name="obtieneNombreReceta">
            <wsdl:documentation/>
            <wsdl:input message="tns:obtieneNombreRecetaRequest"/>
            <wsdl:output message="tns:obtieneNombreRecetaResponse"/>
        </wsdl:operation>
        <wsdl:operation name="obtener_preparacion_receta">
            <wsdl:documentation/>
            <wsdl:input message="tns:obtener_preparacion_recetaRequest"/>
            <wsdl:output message="tns:obtener_preparacion_recetaResponse"/>
        </wsdl:operation>
        <wsdl:operation name="obtener_presentacion_receta">
            <wsdl:documentation/>
            <wsdl:input message="tns:obtener_presentacion_recetaRequest"/>
            <wsdl:output message="tns:obtener_presentacion_recetaResponse"/>
        </wsdl:operation>
        <wsdl:operation name="obtener_array_ingredientes_receta">
            <wsdl:documentation/>
            <wsdl:input message="tns:obtener_array_ingredientes_recetaRequest"/>
            <wsdl:output message="tns:obtener_array_ingredientes_recetaResponse"/>
        </wsdl:operation>
        <wsdl:operation name="obtener_recetas">
            <wsdl:documentation/>
            <wsdl:input message="tns:obtener_recetasRequest"/>
            <wsdl:output message="tns:obtener_recetasResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BD_proxyBinding" type="tns:BD_proxyPortType">
        <soap-env:binding xmlns="http://schemas.xmlsoap.org/wsdl/soap/" style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="obtieneNombreReceta">
            <soap-env:operation xmlns="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://localhost/receta_soap_wdsl/servicio_con_wdsl.php?method=obtieneNombreReceta" style="rpc"/>
            <wsdl:input>
                <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtener_preparacion_receta">
            <soap-env:operation xmlns="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://localhost/receta_soap_wdsl/servicio_con_wdsl.php?method=obtener_preparacion_receta" style="rpc"/>
            <wsdl:input>
                <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtener_presentacion_receta">
            <soap-env:operation xmlns="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://localhost/receta_soap_wdsl/servicio_con_wdsl.php?method=obtener_presentacion_receta" style="rpc"/>
            <wsdl:input>
                <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtener_array_ingredientes_receta">
            <soap-env:operation xmlns="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://localhost/receta_soap_wdsl/servicio_con_wdsl.php?method=obtener_array_ingredientes_receta" style="rpc"/>
            <wsdl:input>
                <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtener_recetas">
            <soap-env:operation xmlns="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://localhost/receta_soap_wdsl/servicio_con_wdsl.php?method=obtener_recetas" style="rpc"/>
            <wsdl:input>
                <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BD_proxy">
        <wsdl:documentation/>
        <wsdl:port name="BD_proxyPort" binding="tns:BD_proxyBinding">
            <soap-env:address location="http://localhost/receta_soap_wdsl/servicio_con_wdsl.php"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>