BD_Proxy.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap-env="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost/receta_soap_wdsl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost/receta_soap_wdsl">
    <wsdl:types>
        <xsd:schema targetNamespace="http://localhost/receta_soap_wdsl">
            <xsd:complexType name="stringArray">
                <xsd:complexContent>
                    <xsd:restriction base="soap-enc:Array">
                        <xsd:attribute ref="soap-enc:arrayType" wsdl:arrayType="xsd:string[]"/>
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="Gps">
                <xsd:all/>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="obtener_coordenadaRequest">
        <wsdl:part name="fecha" type="xsd:string"/>
    </wsdl:message>
    <wsdl:message name="obtener_coordenadaResponse">
        <wsdl:part name="obtener_coordenadaReturn" type="xsd:string"/>
    </wsdl:message>
    <wsdl:message name="obtener_coordenadasRequest">
        <wsdl:part name="f1" type="xsd:string"/>
        <wsdl:part name="f2" type="xsd:string"/>
    </wsdl:message>
    <wsdl:message name="obtener_coordenadasResponse">
        <wsdl:part name="obtener_coordenadasReturn" type="xsd:string"/>
    </wsdl:message>
    <wsdl:message name="obtener_todas_las_coordenadasRequest"/>
    <wsdl:message name="obtener_todas_las_coordenadasResponse">
        <wsdl:part name="obtener_todas_las_coordenadasReturn" type="tns:stringArray"/>
    </wsdl:message>
    <wsdl:message name="insertar_coordenadasRequest">
        <wsdl:part name="c" type="tns:GpsArray"/>
    </wsdl:message>
    <wsdl:message name="insertar_coordenadasResponse"/>
    <wsdl:portType name="BD_proxyPortType">
        <wsdl:operation name="obtener_coordenada">
            <wsdl:documentation/>
            <wsdl:input message="tns:obtener_coordenadaRequest"/>
            <wsdl:output message="tns:obtener_coordenadaResponse"/>
        </wsdl:operation>
        <wsdl:operation name="obtener_coordenadas">
            <wsdl:documentation/>
            <wsdl:input message="tns:obtener_coordenadasRequest"/>
            <wsdl:output message="tns:obtener_coordenadasResponse"/>
        </wsdl:operation>
        <wsdl:operation name="obtener_todas_las_coordenadas">
            <wsdl:documentation/>
            <wsdl:input message="tns:obtener_todas_las_coordenadasRequest"/>
            <wsdl:output message="tns:obtener_todas_las_coordenadasResponse"/>
        </wsdl:operation>
        <wsdl:operation name="insertar_coordenadas">
            <wsdl:documentation/>
            <wsdl:input message="tns:insertar_coordenadasRequest"/>
            <wsdl:output message="tns:insertar_coordenadasResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BD_proxyBinding" type="tns:BD_proxyPortType">
        <soap-env:binding xmlns="http://schemas.xmlsoap.org/wsdl/soap/" style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="obtener_coordenada">
            <soap-env:operation xmlns="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://localhost/receta_soap_wdsl/servicio_con_wdsl.php?method=obtener_coordenada" style="rpc"/>
            <wsdl:input>
                <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtener_coordenadas">
            <soap-env:operation xmlns="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://localhost/receta_soap_wdsl/servicio_con_wdsl.php?method=obtener_coordenadas" style="rpc"/>
            <wsdl:input>
                <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtener_todas_las_coordenadas">
            <soap-env:operation xmlns="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://localhost/receta_soap_wdsl/servicio_con_wdsl.php?method=obtener_todas_las_coordenadas" style="rpc"/>
            <wsdl:input>
                <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="insertar_coordenadas">
            <soap-env:operation xmlns="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://localhost/receta_soap_wdsl/servicio_con_wdsl.php?method=insertar_coordenadas" style="rpc"/>
            <wsdl:input>
                <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BD_proxy">
        <wsdl:documentation/>
        <wsdl:port name="BD_proxyPort" binding="tns:BD_proxyBinding">
            <soap-env:address location="http://localhost/receta_soap_wdsl/servicio_con_wdsl.php"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
